* {
	margin: 0;
	padding: 0;
}

body, html {
	background-color: #fafafa;
	height: 100%;
}

#footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
}

.navbar {
	background-color: #83B9EF;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
	color: #fff;
}

.post, .profile-header, .new-post {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 3px;
	padding-top: 1%;
	box-shadow: 0 0 1px rgba(0,0,0,0.5)
}

.profile-header, .new-post {
	padding-bottom: 1%;
}

.wrapper {
	position: relative;
	min-height: 100%;
}

.main-container {
	padding-bottom: 40px;
}

.img-profile {
	width: 100%;
}

.button {
	background-color: #83B9EF;
	color: #fff;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}

.button-inverse {
	background-color: #fff;
	color: #262626;
}

.button-follow {
	margin-top: 30px;
}

a, a:hover {
	color: #262626;
	text-decoration: none;
}

.profile-items li {
	padding: 8px 16px;
	border-bottom: solid 1px #efefef;
	display: block;
}

.profile-item {
	display: flex;
	flex: 1 1 100px;
	top: 25%;
}

.profile-item-wrapper {
	display: flex;
}

.profile-item-img {
	margin-right: 10px;
}

.profile-item-content {
	font-size: 14px;
}

.profile-item-content a {
	position: relative;
	top: 25%;
}

.profile-item-follow-wrapper {
	display: flex;
	flex: 0 0 80px;
	margin-left: 15px;
}

.btn-followers, .btn-following {
	cursor: pointer;
}

.audio-item-wrapper {
	display: flex;
}

.audio-item-wrapper audio {
	min-width: 450px;
}

.comments-wrapper {
	border-top: 1px solid #e7e8ec;
}

.comment-text {
	word-wrap: break-word;
	overflow: hidden;
}

.add-comments-wrapper {
	height: 40px;
}

.add-comment {
	width: 100%;
	border: none;
	font-size: 14px;
}

.add-comment:focus {
	border: none;
}

@media (min-width: 640px) {
	.post, .new-post, .profile-header {
		margin-bottom: 30px;
	}
}